


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."plan_de_pago_ext" AS (
	"id_plan" integer,
	"id_venta" integer,
	"id_cliente" "uuid",
	"numero_cuotas" integer,
	"cuotas_pagadas" integer,
	"monto_total" numeric,
	"monto_cuota" numeric,
	"fecha_inicio" "date",
	"estado" "text",
	"notas" "text",
	"created_at" timestamp with time zone,
	"updated_at" timestamp with time zone,
	"venta" "jsonb",
	"cliente" "jsonb"
);


ALTER TYPE "public"."plan_de_pago_ext" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."actualizar_empleado"("p_user_id" "uuid", "p_nombre" "text", "p_apellido" "text", "p_fecha_nacimiento" "date", "p_dni" "text", "p_estado" "text") RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
begin
  update profiles
  set
    nombre = p_nombre,
    apellido = p_apellido,
    fecha_nacimiento = p_fecha_nacimiento,
    dni = p_dni,
    estado = p_estado
  where user_id = p_user_id;
end;
$$;


ALTER FUNCTION "public"."actualizar_empleado"("p_user_id" "uuid", "p_nombre" "text", "p_apellido" "text", "p_fecha_nacimiento" "date", "p_dni" "text", "p_estado" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."auto_completar_plan_de_pago"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF NEW.cuotas_pagadas >= NEW.numero_cuotas AND NEW.estado = 'activo' THEN
    NEW.estado = 'completado';
    UPDATE venta SET estado = TRUE WHERE id_venta = NEW.id_venta;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."auto_completar_plan_de_pago"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."consultar_planespago"() RETURNS SETOF "public"."plan_de_pago_ext"
    LANGUAGE "sql"
    AS $$
  select
    p.id_plan,
    p.id_venta,
    p.id_cliente,
    p.numero_cuotas,
    p.cuotas_pagadas,
    p.monto_total,
    p.monto_cuota,
    p.fecha_inicio,
    p.estado,
    p.notas,
    p.created_at,
    p.updated_at,
    -- Venta con detalles embebidos
    (
  select row_to_json(v)
  from (
    select
      v.*,
      (
  select coalesce(json_agg(d), '[]'::json)
  from (
    select
      dv.*,
      row_to_json(p) as producto,
      row_to_json(pr) as promocion
    from detalle_venta dv
    left join producto p on dv.id_producto = p.id_producto
    left join promocion pr on dv.id_promocion = pr.id_promocion
    where dv.id_venta = v.id_venta
  ) d
) as detalle_venta
    from venta v
    where v.id_venta = p.id_venta
  ) v
) as venta,
    row_to_json(c) as cliente
  from plan_de_pago p
  left join clientes c on p.id_cliente = c.id_cliente
  order by p.created_at desc
$$;


ALTER FUNCTION "public"."consultar_planespago"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_venta_transaction"("p_venta" "jsonb", "p_detalles" "jsonb") RETURNS TABLE("id_venta" integer)
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_id_venta INT;
  detalle JSONB;
  v_cotizacion DECIMAL(10, 2);
BEGIN
  -- Obtener la cotizaci├│n del par├ímetro o usar la actual
  v_cotizacion := COALESCE(
    (p_venta->>'cotizacion_dolar')::DECIMAL, 
    get_cotizacion_actual()
  );

  -- Insertar venta con cotizaci├│n del d├│lar
  INSERT INTO venta (fecha, estado, cotizacion_dolar, baja)
  VALUES (
    COALESCE((p_venta->>'fecha')::TIMESTAMP, NOW()),
    COALESCE((p_venta->>'estado')::BOOLEAN, false),
    v_cotizacion,
    false
  )
  RETURNING venta.id_venta INTO v_id_venta;

  -- Insertar detalles (el trigger trg_descontar_stock descuenta autom├íticamente el stock)
  FOR detalle IN SELECT * FROM jsonb_array_elements(p_detalles)
  LOOP
    -- Insertar detalle de venta
    -- IMPORTANTE: El trigger trg_descontar_stock (BEFORE INSERT) se ejecuta aqu├¡
    -- y descuenta el stock autom├íticamente, tanto para productos como para promociones
    INSERT INTO detalle_venta (id_venta, id_producto, id_promocion, cantidad, precio_unitario)
    VALUES (
      v_id_venta,
      NULLIF((detalle->>'id_producto')::INT, 0),  -- NULL si no existe o es 0
      NULLIF((detalle->>'id_promocion')::INT, 0), -- NULL si no existe o es 0
      (detalle->>'cantidad')::INT,
      COALESCE((detalle->>'precio_unitario')::DECIMAL, 0)
    );

    -- ÔØî ELIMINADO: No descuentar stock manualmente porque el trigger ya lo hace
    -- El c├│digo anterior descontaba aqu├¡ y causaba el descuento doble
  END LOOP;

  -- Retornar el ID de la venta creada
  RETURN QUERY SELECT v_id_venta;
END;
$$;


ALTER FUNCTION "public"."create_venta_transaction"("p_venta" "jsonb", "p_detalles" "jsonb") OWNER TO "postgres";


COMMENT ON FUNCTION "public"."create_venta_transaction"("p_venta" "jsonb", "p_detalles" "jsonb") IS 'Crea una venta con sus detalles en una transacci├│n, guardando la cotizaci├│n del d├│lar vigente';



CREATE OR REPLACE FUNCTION "public"."descontar_stock"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  comp RECORD;
  required numeric;
BEGIN
  -- Handle direct product lines
  IF NEW.id_producto IS NOT NULL THEN
    -- Try to decrement only if enough stock exists; this is atomic and safe under concurrency
    UPDATE public.producto
    SET stock = stock - NEW.cantidad
    WHERE id_producto = NEW.id_producto
      AND stock >= NEW.cantidad;

    IF NOT FOUND THEN
      RAISE EXCEPTION 'Stock insuficiente para producto id % (requiere %)', NEW.id_producto, NEW.cantidad;
    END IF;

  ELSIF NEW.id_promocion IS NOT NULL THEN
    -- For promotions, decrement stock of each component product according to detalle_promocion
    FOR comp IN
      SELECT id_producto, cantidad AS cantidad_por_unidad
      FROM public.detalle_promocion
      WHERE id_promocion = NEW.id_promocion
    LOOP
      required := comp.cantidad_por_unidad * NEW.cantidad;

      UPDATE public.producto
      SET stock = stock - required
      WHERE id_producto = comp.id_producto
        AND stock >= required;

      IF NOT FOUND THEN
        RAISE EXCEPTION 'Stock insuficiente para producto id % requerido por promocion % (necesita %)', comp.id_producto, NEW.id_promocion, required;
      END IF;
    END LOOP;
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."descontar_stock"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."descontar_stock_por_detalle"("p_id_venta" integer) RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  d RECORD;
  c RECORD;
  required numeric;
BEGIN
  FOR d IN
    SELECT *
    FROM public.detalle_venta
    WHERE id_venta = p_id_venta
  LOOP
    -- Producto directo
    IF d.id_producto IS NOT NULL THEN
      UPDATE public.producto
      SET stock = stock - d.cantidad
      WHERE id_producto = d.id_producto
        AND stock >= d.cantidad;

      IF NOT FOUND THEN
        RAISE EXCEPTION 'Stock insuficiente producto %', d.id_producto;
      END IF;

    -- PromociÔö£Ôöén
    ELSIF d.id_promocion IS NOT NULL THEN
      FOR c IN
        SELECT *
        FROM public.detalle_promocion
        WHERE id_promocion = d.id_promocion
      LOOP
        required := c.cantidad * d.cantidad;

        UPDATE public.producto
        SET stock = stock - required
        WHERE id_producto = c.id_producto
          AND stock >= required;

        IF NOT FOUND THEN
          RAISE EXCEPTION 'Stock insuficiente producto % (promo)', c.id_producto;
        END IF;
      END LOOP;
    END IF;
  END LOOP;
END;
$$;


ALTER FUNCTION "public"."descontar_stock_por_detalle"("p_id_venta" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fn_actualizar_pedido_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."fn_actualizar_pedido_updated_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fn_auto_cancelar_pedidos_vencidos"() RETURNS TABLE("pedidos_cancelados" integer)
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    v_count INTEGER;
BEGIN
    UPDATE pedidos
    SET estado = 'CANCELADO'
    WHERE estado = 'RECIBIDO'
        AND created_at < NOW() - INTERVAL '24 hours';
    
    GET DIAGNOSTICS v_count = ROW_COUNT;
    
    RETURN QUERY SELECT v_count;
END;
$$;


ALTER FUNCTION "public"."fn_auto_cancelar_pedidos_vencidos"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."fn_auto_cancelar_pedidos_vencidos"() IS 'Auto-cancela pedidos en estado RECIBIDO despuÔö£┬«s de 24hs';



CREATE OR REPLACE FUNCTION "public"."fn_cancelar_venta_desde_pedido"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    -- Si se cancela un pedido que tiene venta asociada, dar de baja la venta
    IF NEW.estado = 'CANCELADO' AND OLD.estado != 'CANCELADO' AND NEW.id_venta IS NOT NULL THEN
        UPDATE venta 
        SET baja = true 
        WHERE id_venta = NEW.id_venta;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."fn_cancelar_venta_desde_pedido"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fn_check_imagen_principal"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Si la nueva imagen se marca como principal, desmarcar otras imÔö£├¡genes del mismo producto
  IF NEW.es_principal = true THEN
    UPDATE public.producto_imagen
    SET es_principal = false
    WHERE id_producto = NEW.id_producto 
      AND id_producto_imagen != NEW.id_producto_imagen;
  END IF;
  
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."fn_check_imagen_principal"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fn_crear_venta_desde_pedido"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    v_id_venta INTEGER;
    v_detalle RECORD;
BEGIN
    -- Solo ejecutar cuando cambia a ENTREGADO y no tiene venta asociada
    IF NEW.estado = 'ENTREGADO' AND OLD.estado != 'ENTREGADO' AND NEW.id_venta IS NULL THEN
        
        -- Crear la venta (usar nombre correcto: venta singular)
        INSERT INTO venta (fecha, total, estado, baja, metodo_pago)
        VALUES (NEW.fecha_pedido, NEW.total, true, false, 
                CASE 
                    WHEN NEW.metodo_pago = 'efectivo' THEN 'efectivo'
                    WHEN NEW.metodo_pago = 'transferencia' THEN 'transferencia'
                    WHEN NEW.metodo_pago = 'mercadopago' THEN 'transferencia'
                    ELSE 'efectivo'
                END)
        RETURNING id_venta INTO v_id_venta;
        
        -- Copiar los detalles del pedido a la venta (usar nombre correcto: detalle_venta)
        FOR v_detalle IN 
            SELECT * FROM pedido_detalle WHERE id_pedido = NEW.id_pedido
        LOOP
            -- Insertar en detalle_venta (no venta_detalle)
            INSERT INTO detalle_venta (id_venta, id_producto, id_promocion, cantidad, precio_unitario)
            VALUES (v_id_venta, v_detalle.id_producto, v_detalle.id_promocion, 
                    v_detalle.cantidad, v_detalle.precio_unitario);
            
            -- Descontar stock si es producto (esto ya lo hace el trigger trg_descontar_stock)
            -- El trigger de detalle_venta ya descuenta stock, asÔö£┬í que comentamos esto para evitar doble descuento
            /*
            IF v_detalle.tipo = 'producto' AND v_detalle.id_producto IS NOT NULL THEN
                UPDATE producto 
                SET stock = stock - v_detalle.cantidad
                WHERE id_producto = v_detalle.id_producto;
            END IF;
            */
        END LOOP;
        
        -- Asociar la venta al pedido
        NEW.id_venta = v_id_venta;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."fn_crear_venta_desde_pedido"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fn_historico_precio"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  -- solo registrar si el precio realmente cambiÔö£Ôöé
  if new.precioventa is distinct from old.precioventa then
    insert into public.historico_producto (
      fecha,
      precio,
      precio_anterior,
      id_producto
    )
    values (
      now(),
      new.precioventa,
      old.precioventa,
      new.id_producto
    );
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."fn_historico_precio"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_cotizacion_actual"() RETURNS numeric
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  cotizacion_actual DECIMAL(10, 2);
BEGIN
  SELECT valor INTO cotizacion_actual
  FROM cotizacion_dolar
  ORDER BY fecha DESC
  LIMIT 1;
  
  -- Si no hay cotizaci├│n, retornar 1000 como valor por defecto
  IF cotizacion_actual IS NULL THEN
    RETURN 1000.00;
  END IF;
  
  RETURN cotizacion_actual;
END;
$$;


ALTER FUNCTION "public"."get_cotizacion_actual"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."get_cotizacion_actual"() IS 'Obtiene la ├║ltima cotizaci├│n del d├│lar registrada';



CREATE OR REPLACE FUNCTION "public"."handle_new_cliente_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  IF NEW.raw_user_meta_data->>'tipo' = 'cliente' THEN
    -- Asignar role = 'cliente' en app_metadata (no editable por el usuario)
    -- SECURITY DEFINER permite actualizar auth.users desde el trigger
    UPDATE auth.users
    SET raw_app_meta_data =
      COALESCE(raw_app_meta_data, '{}'::jsonb) || '{"role": "cliente"}'::jsonb
    WHERE id = NEW.id;

    -- Crear fila en clientes
    INSERT INTO public.clientes (id_cliente, email, nombre, apellido, telefono)
    VALUES (
      NEW.id,
      NEW.email,
      NULLIF(TRIM(NEW.raw_user_meta_data->>'nombre'),  ''),
      NULLIF(TRIM(NEW.raw_user_meta_data->>'apellido'), ''),
      NULLIF(TRIM(NEW.raw_user_meta_data->>'telefono'), '')
    );
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_cliente_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF COALESCE(NEW.raw_user_meta_data->>'tipo', '') != 'cliente' THEN
    INSERT INTO public.profiles (user_id, email, role)
    VALUES (
      NEW.id,
      NEW.email,
      COALESCE(NEW.raw_app_meta_data->>'role', 'empleado')
    );
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reactivar_venta_transaction"("p_id_venta" integer) RETURNS TABLE("id_venta" integer, "fecha" "date", "estado" boolean, "baja" boolean)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Reactivar venta
  UPDATE public.venta v
  SET baja = false
  WHERE v.id_venta = p_id_venta;

  -- Volver a descontar stock
  PERFORM public.descontar_stock_por_detalle(p_id_venta);

  -- Devolver venta actualizada
  RETURN QUERY
  SELECT
    v.id_venta,
    v.fecha,
    v.estado,
    v.baja
  FROM public.venta v
  WHERE v.id_venta = p_id_venta;
END;
$$;


ALTER FUNCTION "public"."reactivar_venta_transaction"("p_id_venta" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."registrar_cotizacion_dolar"("p_valor" numeric, "p_observaciones" "text" DEFAULT NULL::"text") RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  cotizacion_actual DECIMAL(10, 2);
  nuevo_id INTEGER;
BEGIN
  -- Obtener la cotizaci├│n actual
  cotizacion_actual := get_cotizacion_actual();
  
  -- Solo insertar si el valor es diferente
  IF p_valor != cotizacion_actual THEN
    INSERT INTO cotizacion_dolar (valor, observaciones)
    VALUES (p_valor, p_observaciones)
    RETURNING id_cotizacion INTO nuevo_id;
    
    RETURN nuevo_id;
  ELSE
    -- Retornar -1 si no se insert├│ porque el valor es igual
    RETURN -1;
  END IF;
END;
$$;


ALTER FUNCTION "public"."registrar_cotizacion_dolar"("p_valor" numeric, "p_observaciones" "text") OWNER TO "postgres";


COMMENT ON FUNCTION "public"."registrar_cotizacion_dolar"("p_valor" numeric, "p_observaciones" "text") IS 'Registra una nueva cotizaci├│n del d├│lar solo si es diferente a la actual';



CREATE OR REPLACE FUNCTION "public"."registrar_historico_precio"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Solo registrar si el precio cambiÔö£Ôöé
  IF NEW.precioventa IS DISTINCT FROM OLD.precioventa THEN
    INSERT INTO historico_producto (
  fecha,
  precio,
  precio_anterior,
  id_producto
)
VALUES (
  now(),
  NEW.precioventa,
  OLD.precioventa,
  NEW.id_producto
);
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."registrar_historico_precio"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."restaurar_stock_venta"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  dv record;
  dp record;
BEGIN
  IF old.baja = false AND new.baja = true THEN
    FOR dv IN
      SELECT * FROM detalle_venta WHERE id_venta = new.id_venta
    LOOP
      IF dv.id_producto IS NOT NULL THEN
        UPDATE producto
        SET stock = stock + dv.cantidad
        WHERE id_producto = dv.id_producto;
      END IF;

      IF dv.id_promocion IS NOT NULL THEN
        FOR dp IN
          SELECT * FROM detalle_promocion WHERE id_promocion = dv.id_promocion
        LOOP
          UPDATE producto
          SET stock = stock + (dp.cantidad * dv.cantidad)
          WHERE id_producto = dp.id_producto;
        END LOOP;
      END IF;
    END LOOP;
  END IF;

  RETURN new;
END;
$$;


ALTER FUNCTION "public"."restaurar_stock_venta"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."rls_auto_enable"() RETURNS "event_trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'pg_catalog'
    AS $$
DECLARE
  cmd record;
BEGIN
  FOR cmd IN
    SELECT *
    FROM pg_event_trigger_ddl_commands()
    WHERE command_tag IN ('CREATE TABLE', 'CREATE TABLE AS', 'SELECT INTO')
      AND object_type IN ('table','partitioned table')
  LOOP
     IF cmd.schema_name IS NOT NULL AND cmd.schema_name IN ('public') AND cmd.schema_name NOT IN ('pg_catalog','information_schema') AND cmd.schema_name NOT LIKE 'pg_toast%' AND cmd.schema_name NOT LIKE 'pg_temp%' THEN
      BEGIN
        EXECUTE format('alter table if exists %s enable row level security', cmd.object_identity);
        RAISE LOG 'rls_auto_enable: enabled RLS on %', cmd.object_identity;
      EXCEPTION
        WHEN OTHERS THEN
          RAISE LOG 'rls_auto_enable: failed to enable RLS on %', cmd.object_identity;
      END;
     ELSE
        RAISE LOG 'rls_auto_enable: skip % (either system schema or not in enforced list: %.)', cmd.object_identity, cmd.schema_name;
     END IF;
  END LOOP;
END;
$$;


ALTER FUNCTION "public"."rls_auto_enable"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_clientes_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_clientes_updated_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_plan_de_pago_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_plan_de_pago_updated_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_producto_con_categorias_transaction"("p_producto" "jsonb", "p_categorias" integer[]) RETURNS TABLE("id_producto" integer, "nombre" character varying, "descripcion" character varying, "stock" integer, "costo" numeric, "precioventa" numeric, "precio_promocion" numeric, "promocion_activa" boolean, "estado" boolean, "accesorio" boolean, "destacado" boolean, "orden_destacado" integer, "condicion" "text", "dolares" boolean)
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_id_producto INT;
BEGIN
  UPDATE producto AS prod
  SET
    nombre = COALESCE(p_producto->>'nombre', prod.nombre),
    descripcion = p_producto->>'descripcion',
    stock = COALESCE((p_producto->>'stock')::INT, prod.stock),
    costo = COALESCE((p_producto->>'costo')::NUMERIC, prod.costo),
    precioventa = COALESCE((p_producto->>'precioventa')::NUMERIC, prod.precioventa),
    precio_promocion = CASE WHEN p_producto->>'precio_promocion' IS NULL THEN NULL ELSE (p_producto->>'precio_promocion')::NUMERIC END,
    promocion_activa = COALESCE((p_producto->>'promocion_activa')::BOOLEAN, prod.promocion_activa),
    estado = COALESCE((p_producto->>'estado')::BOOLEAN, prod.estado),
    accesorio = COALESCE((p_producto->>'accesorio')::BOOLEAN, prod.accesorio),
    destacado = COALESCE((p_producto->>'destacado')::BOOLEAN, prod.destacado),
    orden_destacado = CASE WHEN p_producto->>'orden_destacado' IS NULL THEN NULL ELSE (p_producto->>'orden_destacado')::INT END,
    condicion = COALESCE(p_producto->>'condicion', prod.condicion),
    dolares = COALESCE((p_producto->>'dolares')::BOOLEAN, prod.dolares)
  WHERE prod.id_producto = (p_producto->>'id_producto')::INT
  RETURNING prod.id_producto INTO v_id_producto;

  DELETE FROM categoria_producto
  WHERE categoria_producto.id_producto = v_id_producto;

  IF p_categorias IS NOT NULL AND array_length(p_categorias, 1) > 0 THEN
    INSERT INTO categoria_producto (id_producto, id_categoria)
    SELECT v_id_producto, unnest(p_categorias);
  END IF;

  RETURN QUERY
    SELECT
      prod.id_producto,
      prod.nombre,
      prod.descripcion,
      prod.stock,
      prod.costo,
      prod.precioventa,
      prod.precio_promocion,
      prod.promocion_activa,
      prod.estado,
      prod.accesorio,
      prod.destacado,
      prod.orden_destacado,
      prod.condicion,
      prod.dolares
    FROM producto AS prod
    WHERE prod.id_producto = v_id_producto;
END;
$$;


ALTER FUNCTION "public"."update_producto_con_categorias_transaction"("p_producto" "jsonb", "p_categorias" integer[]) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_changes" "jsonb") RETURNS TABLE("id_producto" integer, "nombre" character varying, "descripcion" character varying, "stock" integer, "costo" numeric, "precioventa" numeric, "precio_promocion" numeric, "promocion_activa" boolean, "estado" boolean, "accesorio" boolean, "destacado" boolean, "orden_destacado" integer, "condicion" "text", "dolares" boolean)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE producto AS prod
  SET
    nombre           = CASE WHEN p_changes ? 'nombre'           THEN (p_changes->>'nombre')::CHARACTER VARYING                                                                     ELSE prod.nombre           END,
    descripcion      = CASE WHEN p_changes ? 'descripcion'      THEN (p_changes->>'descripcion')::CHARACTER VARYING                                                                ELSE prod.descripcion      END,
    stock            = CASE WHEN p_changes ? 'stock'            THEN (p_changes->>'stock')::INT                                                                                    ELSE prod.stock            END,
    costo            = CASE WHEN p_changes ? 'costo'            THEN (p_changes->>'costo')::NUMERIC                                                                                ELSE prod.costo            END,
    precioventa      = CASE WHEN p_changes ? 'precioventa'      THEN (p_changes->>'precioventa')::NUMERIC                                                                          ELSE prod.precioventa      END,
    precio_promocion = CASE WHEN p_changes ? 'precio_promocion' THEN CASE WHEN p_changes->>'precio_promocion' IS NULL THEN NULL ELSE (p_changes->>'precio_promocion')::NUMERIC END ELSE prod.precio_promocion END,
    promocion_activa = CASE WHEN p_changes ? 'promocion_activa' THEN (p_changes->>'promocion_activa')::BOOLEAN                                                                     ELSE prod.promocion_activa END,
    estado           = CASE WHEN p_changes ? 'estado'           THEN (p_changes->>'estado')::BOOLEAN                                                                              ELSE prod.estado           END,
    accesorio        = CASE WHEN p_changes ? 'accesorio'        THEN (p_changes->>'accesorio')::BOOLEAN                                                                           ELSE prod.accesorio        END,
    destacado        = CASE WHEN p_changes ? 'destacado'        THEN (p_changes->>'destacado')::BOOLEAN                                                                           ELSE prod.destacado        END,
    orden_destacado  = CASE WHEN p_changes ? 'orden_destacado'  THEN CASE WHEN p_changes->>'orden_destacado' IS NULL THEN NULL ELSE (p_changes->>'orden_destacado')::INT END       ELSE prod.orden_destacado  END,
    condicion        = CASE WHEN p_changes ? 'condicion'        THEN p_changes->>'condicion'                                                                                      ELSE prod.condicion        END,
    dolares          = CASE WHEN p_changes ? 'dolares'          THEN (p_changes->>'dolares')::BOOLEAN                                                                             ELSE prod.dolares          END
  WHERE prod.id_producto = p_id_producto;

  IF NOT FOUND THEN
    RAISE EXCEPTION 'Producto con id_producto % no encontrado', p_id_producto
      USING ERRCODE = 'P0002';
  END IF;

  RETURN QUERY
    SELECT
      prod.id_producto,
      prod.nombre,
      prod.descripcion,
      prod.stock,
      prod.costo,
      prod.precioventa,
      prod.precio_promocion,
      prod.promocion_activa,
      prod.estado,
      prod.accesorio,
      prod.destacado,
      prod.orden_destacado,
      prod.condicion,
      prod.dolares
    FROM producto AS prod
    WHERE prod.id_producto = p_id_producto;
END;
$$;


ALTER FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_changes" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_nombre" "text", "p_descripcion" "text", "p_stock" integer, "p_costo" numeric, "p_precioventa" numeric, "p_precio_promocion" numeric, "p_promocion_activa" boolean, "p_estado" boolean, "p_accesorio" boolean, "p_destacado" boolean, "p_orden_destacado" integer, "p_condicion" "text", "p_dolares" boolean, "p_imagenes" "jsonb") RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
declare
  v_producto record;
  v_img record;
  v_id_producto_imagen integer;
begin
  -- Actualizar producto principal
  update producto
    set nombre = p_nombre,
        descripcion = p_descripcion,
        stock = p_stock,
        costo = p_costo,
        precioventa = p_precioventa,
        precio_promocion = p_precio_promocion,
        promocion_activa = p_promocion_activa,
        estado = p_estado,
        accesorio = p_accesorio,
        destacado = p_destacado,
        orden_destacado = p_orden_destacado,
        condicion = p_condicion,
        dolares = p_dolares
  where id_producto = p_id_producto;

  -- Eliminar im├ígenes existentes
  delete from producto_imagen where id_producto = p_id_producto;

  -- Insertar nuevas im├ígenes (si hay)
  if p_imagenes is not null then
    for v_img in select * from jsonb_array_elements(p_imagenes) loop
      insert into producto_imagen (
        id_producto,
        imagen_path,
        orden,
        es_principal
      ) values (
        p_id_producto,
        v_img.value->>'imagen_path',
        coalesce((v_img.value->>'orden')::int, 0),
        coalesce((v_img.value->>'es_principal')::boolean, false)
      );
    end loop;
  end if;

  -- Retornar el producto actualizado
  select row_to_json(p) into v_producto from producto p where id_producto = p_id_producto;
  return v_producto;
end;
$$;


ALTER FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_nombre" "text", "p_descripcion" "text", "p_stock" integer, "p_costo" numeric, "p_precioventa" numeric, "p_precio_promocion" numeric, "p_promocion_activa" boolean, "p_estado" boolean, "p_accesorio" boolean, "p_destacado" boolean, "p_orden_destacado" integer, "p_condicion" "text", "p_dolares" boolean, "p_imagenes" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_promocion_transaction"("p_id_promocion" bigint, "p_nombre" "text", "p_precio" numeric, "p_productos" "jsonb", "p_estado" boolean) RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
declare
  v_promocion record;
  v_detalle record;
  v_id_detalle bigint;
begin
  -- Actualizar la promoci├│n principal
  update promocion
    set name = p_nombre,
        precio = p_precio,
        estado = p_estado
  where id_promocion = p_id_promocion;

  -- Obtener detalles existentes
  for v_detalle in select * from detalle_promocion where id_promocion = p_id_promocion loop
    -- Si el producto no est├í en la nueva lista, eliminarlo
    if not exists (
      select 1 from jsonb_array_elements(p_productos) as prod
      where (prod->>'id_producto')::int = v_detalle.id_producto
    ) then
      delete from detalle_promocion where id_detalle_promocion = v_detalle.id_detalle_promocion;
    end if;
  end loop;

  -- Insertar o actualizar detalles
  for v_detalle in select * from jsonb_array_elements(p_productos) as prod loop
    select id_detalle_promocion into v_id_detalle
      from detalle_promocion
      where id_promocion = p_id_promocion and id_producto = (v_detalle.value->>'id_producto')::int;

    if v_id_detalle is null then
      insert into detalle_promocion (id_promocion, id_producto, cantidad)
      values (
        p_id_promocion,
        (v_detalle.value->>'id_producto')::int,
        (v_detalle.value->>'cantidad')::numeric
      );
    else
      update detalle_promocion
      set cantidad = (v_detalle.value->>'cantidad')::numeric
      where id_detalle_promocion = v_id_detalle;
    end if;
  end loop;

  -- Retornar la promoci├│n actualizada
  select row_to_json(p) into v_promocion from promocion p where id_promocion = p_id_promocion;
  return v_promocion;
end;
$$;


ALTER FUNCTION "public"."update_promocion_transaction"("p_id_promocion" bigint, "p_nombre" "text", "p_precio" numeric, "p_productos" "jsonb", "p_estado" boolean) OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."unidad_medida" (
    "id_unidad_medida" bigint NOT NULL,
    "nombre" character varying NOT NULL,
    "abreviacion" "text" NOT NULL
);


ALTER TABLE "public"."unidad_medida" OWNER TO "postgres";


ALTER TABLE "public"."unidad_medida" ALTER COLUMN "id_unidad_medida" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."Unidad de Medida_id_unidad_medida_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."categoria" (
    "id_categoria" bigint NOT NULL,
    "nombre" "text" NOT NULL,
    "estado" boolean,
    "id_categoria_padre" bigint
);


ALTER TABLE "public"."categoria" OWNER TO "postgres";


ALTER TABLE "public"."categoria" ALTER COLUMN "id_categoria" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."categoria_id_categoria_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."categoria_producto" (
    "id_categoria_producto" bigint NOT NULL,
    "id_categoria" bigint NOT NULL,
    "id_producto" integer
);


ALTER TABLE "public"."categoria_producto" OWNER TO "postgres";


ALTER TABLE "public"."categoria_producto" ALTER COLUMN "id_categoria_producto" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."categoria_producto_id_categoria_producto_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."clientes" (
    "id_cliente" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "nombre" "text",
    "apellido" "text",
    "telefono" "text",
    "direccion" "text",
    "estado" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."clientes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cotizacion_dolar" (
    "id_cotizacion" integer NOT NULL,
    "fecha" timestamp without time zone DEFAULT "now"() NOT NULL,
    "valor" numeric(10,2) NOT NULL,
    "observaciones" "text",
    "created_at" timestamp without time zone DEFAULT "now"()
);


ALTER TABLE "public"."cotizacion_dolar" OWNER TO "postgres";


COMMENT ON TABLE "public"."cotizacion_dolar" IS 'Historial de cotizaciones del d├│lar a lo largo del tiempo';



COMMENT ON COLUMN "public"."cotizacion_dolar"."valor" IS 'Valor del d├│lar en pesos (ej: 1000.50 significa que 1 USD = $1000.50)';



COMMENT ON COLUMN "public"."cotizacion_dolar"."observaciones" IS 'Notas opcionales sobre el cambio de cotizaci├│n';



CREATE SEQUENCE IF NOT EXISTS "public"."cotizacion_dolar_id_cotizacion_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."cotizacion_dolar_id_cotizacion_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."cotizacion_dolar_id_cotizacion_seq" OWNED BY "public"."cotizacion_dolar"."id_cotizacion";



CREATE TABLE IF NOT EXISTS "public"."detalle_promocion" (
    "id_detalle_promocion" bigint NOT NULL,
    "id_promocion" bigint NOT NULL,
    "id_producto" integer NOT NULL,
    "cantidad" double precision NOT NULL
);


ALTER TABLE "public"."detalle_promocion" OWNER TO "postgres";


ALTER TABLE "public"."detalle_promocion" ALTER COLUMN "id_detalle_promocion" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."detalle_promocion_id_detalle_promocion_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."detalle_venta" (
    "id_detalle_venta" integer NOT NULL,
    "id_producto" integer,
    "id_venta" integer NOT NULL,
    "cantidad" integer NOT NULL,
    "precio_unitario" bigint,
    "id_promocion" bigint,
    CONSTRAINT "detalle_venta_cantidad_check" CHECK (("cantidad" > 0))
);


ALTER TABLE "public"."detalle_venta" OWNER TO "postgres";


ALTER TABLE "public"."detalle_venta" ALTER COLUMN "id_detalle_venta" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."detalle_venta_id_detalle_venta_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."gasto" (
    "id_gasto" bigint NOT NULL,
    "costo" numeric NOT NULL,
    "descripcion" "text",
    "estado" boolean
);


ALTER TABLE "public"."gasto" OWNER TO "postgres";


ALTER TABLE "public"."gasto" ALTER COLUMN "id_gasto" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."gasto_id_gasto_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."historico_producto" (
    "id_historico_producto" bigint NOT NULL,
    "fecha" timestamp without time zone NOT NULL,
    "precio" numeric,
    "id_producto" integer,
    "precio_anterior" numeric
);


ALTER TABLE "public"."historico_producto" OWNER TO "postgres";


ALTER TABLE "public"."historico_producto" ALTER COLUMN "id_historico_producto" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."historico_producto_id_historico_producto_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."pedido_detalle" (
    "id_pedido_detalle" integer NOT NULL,
    "id_pedido" integer NOT NULL,
    "tipo" character varying(20) NOT NULL,
    "id_producto" integer,
    "id_promocion" integer,
    "cantidad" numeric(10,2) NOT NULL,
    "precio_unitario" numeric(10,2) NOT NULL,
    CONSTRAINT "chk_pedido_detalle_referencia" CHECK ((((("tipo")::"text" = 'producto'::"text") AND ("id_producto" IS NOT NULL) AND ("id_promocion" IS NULL)) OR ((("tipo")::"text" = 'promocion'::"text") AND ("id_promocion" IS NOT NULL) AND ("id_producto" IS NULL)))),
    CONSTRAINT "pedido_detalle_cantidad_check" CHECK (("cantidad" > (0)::numeric)),
    CONSTRAINT "pedido_detalle_precio_unitario_check" CHECK (("precio_unitario" >= (0)::numeric)),
    CONSTRAINT "pedido_detalle_tipo_check" CHECK ((("tipo")::"text" = ANY (ARRAY[('producto'::character varying)::"text", ('promocion'::character varying)::"text"])))
);


ALTER TABLE "public"."pedido_detalle" OWNER TO "postgres";


COMMENT ON TABLE "public"."pedido_detalle" IS 'Detalles de productos/promociones en cada pedido';



CREATE SEQUENCE IF NOT EXISTS "public"."pedido_detalle_id_pedido_detalle_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."pedido_detalle_id_pedido_detalle_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."pedido_detalle_id_pedido_detalle_seq" OWNED BY "public"."pedido_detalle"."id_pedido_detalle";



CREATE TABLE IF NOT EXISTS "public"."pedidos" (
    "id_pedido" integer NOT NULL,
    "fecha_pedido" timestamp without time zone DEFAULT "now"() NOT NULL,
    "estado" character varying(20) DEFAULT 'RECIBIDO'::character varying NOT NULL,
    "id_venta" integer,
    "cliente_nombre" character varying(255) NOT NULL,
    "cliente_telefono" character varying(20) NOT NULL,
    "cliente_direccion" "text",
    "total" numeric(10,2) NOT NULL,
    "metodo_pago" character varying(20),
    "notas" "text",
    "created_at" timestamp without time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp without time zone DEFAULT "now"() NOT NULL,
    "plan_cuotas" integer,
    "id_cliente" "uuid",
    CONSTRAINT "pedidos_estado_check" CHECK ((("estado")::"text" = ANY (ARRAY[('RECIBIDO'::character varying)::"text", ('ACEPTADO'::character varying)::"text", ('ENTREGADO'::character varying)::"text", ('CANCELADO'::character varying)::"text"]))),
    CONSTRAINT "pedidos_metodo_pago_check" CHECK ((("metodo_pago")::"text" = ANY (ARRAY[('efectivo'::character varying)::"text", ('transferencia'::character varying)::"text", ('ambos'::character varying)::"text"])))
);


ALTER TABLE "public"."pedidos" OWNER TO "postgres";


COMMENT ON TABLE "public"."pedidos" IS 'Tabla de pedidos realizados por WhatsApp';



COMMENT ON COLUMN "public"."pedidos"."estado" IS 'Estados: RECIBIDO (inicial), ACEPTADO, ENTREGADO (crea venta), CANCELADO';



COMMENT ON COLUMN "public"."pedidos"."id_venta" IS 'ID de venta asociada cuando se marca como ENTREGADO';



CREATE SEQUENCE IF NOT EXISTS "public"."pedidos_id_pedido_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."pedidos_id_pedido_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."pedidos_id_pedido_seq" OWNED BY "public"."pedidos"."id_pedido";



CREATE TABLE IF NOT EXISTS "public"."plan_de_pago" (
    "id_plan" integer NOT NULL,
    "id_venta" integer NOT NULL,
    "id_cliente" "uuid",
    "numero_cuotas" integer NOT NULL,
    "cuotas_pagadas" integer DEFAULT 0 NOT NULL,
    "monto_total" numeric(12,2) NOT NULL,
    "monto_cuota" numeric(12,2) NOT NULL,
    "fecha_inicio" "date" DEFAULT CURRENT_DATE NOT NULL,
    "estado" "text" DEFAULT 'activo'::"text" NOT NULL,
    "notas" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "plan_de_pago_cuotas_pagadas_check" CHECK (("cuotas_pagadas" >= 0)),
    CONSTRAINT "plan_de_pago_estado_check" CHECK (("estado" = ANY (ARRAY['activo'::"text", 'completado'::"text", 'cancelado'::"text"]))),
    CONSTRAINT "plan_de_pago_monto_cuota_check" CHECK (("monto_cuota" > (0)::numeric)),
    CONSTRAINT "plan_de_pago_monto_total_check" CHECK (("monto_total" > (0)::numeric)),
    CONSTRAINT "plan_de_pago_numero_cuotas_check" CHECK (("numero_cuotas" >= 2))
);


ALTER TABLE "public"."plan_de_pago" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."plan_de_pago_id_plan_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."plan_de_pago_id_plan_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."plan_de_pago_id_plan_seq" OWNED BY "public"."plan_de_pago"."id_plan";



CREATE TABLE IF NOT EXISTS "public"."producto" (
    "id_producto" integer NOT NULL,
    "nombre" character varying(255) NOT NULL,
    "descripcion" character varying(255),
    "stock" integer DEFAULT 0 NOT NULL,
    "costo" numeric NOT NULL,
    "precioventa" numeric(12,2) NOT NULL,
    "estado" boolean NOT NULL,
    "precio_promocion" numeric(10,2),
    "promocion_activa" boolean DEFAULT false,
    "accesorio" boolean DEFAULT false,
    "destacado" boolean DEFAULT false,
    "orden_destacado" integer,
    "condicion" "text" DEFAULT 'nuevo'::"text" NOT NULL,
    "dolares" boolean DEFAULT true NOT NULL
);


ALTER TABLE "public"."producto" OWNER TO "postgres";


COMMENT ON COLUMN "public"."producto"."destacado" IS 'Indica si el producto se muestra como destacado en la p├ígina principal';



COMMENT ON COLUMN "public"."producto"."orden_destacado" IS 'Orden de visualizaci├│n en la secci├│n de destacados (menor n├║mero = mayor prioridad)';



ALTER TABLE "public"."producto" ALTER COLUMN "id_producto" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."producto_id_producto_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."producto_imagen" (
    "id_producto_imagen" bigint NOT NULL,
    "id_producto" integer NOT NULL,
    "imagen_path" "text" NOT NULL,
    "orden" integer DEFAULT 0 NOT NULL,
    "es_principal" boolean DEFAULT false NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."producto_imagen" OWNER TO "postgres";


COMMENT ON TABLE "public"."producto_imagen" IS 'Tabla para almacenar mÔö£Ôòæltiples imÔö£├¡genes por producto';



COMMENT ON COLUMN "public"."producto_imagen"."orden" IS 'Orden de visualizaciÔö£Ôöén de la imagen (menor = primero)';



COMMENT ON COLUMN "public"."producto_imagen"."es_principal" IS 'Indica si es la imagen principal del producto';



ALTER TABLE "public"."producto_imagen" ALTER COLUMN "id_producto_imagen" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."producto_imagen_id_producto_imagen_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "user_id" "uuid" NOT NULL,
    "email" "text",
    "role" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "nombre" "text",
    "apellido" "text",
    "fecha_nacimiento" "date",
    "dni" "text",
    "estado" "text" DEFAULT 'activo'::"text"
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."promocion" (
    "id_promocion" bigint NOT NULL,
    "name" "text" NOT NULL,
    "precio" numeric,
    "estado" boolean NOT NULL,
    "imagen_path" "text"
);


ALTER TABLE "public"."promocion" OWNER TO "postgres";


ALTER TABLE "public"."promocion" ALTER COLUMN "id_promocion" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."promocion_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."venta" (
    "id_venta" integer NOT NULL,
    "fecha" "date" NOT NULL,
    "estado" boolean DEFAULT true NOT NULL,
    "baja" boolean DEFAULT false,
    "total" numeric(10,2),
    "metodo_pago" character varying(20),
    "cotizacion_dolar" numeric(10,2),
    CONSTRAINT "venta_metodo_pago_check" CHECK ((("metodo_pago")::"text" = ANY ((ARRAY['efectivo'::character varying, 'transferencia'::character varying, 'mercadopago'::character varying, 'plan_de_pago'::character varying])::"text"[])))
);


ALTER TABLE "public"."venta" OWNER TO "postgres";


COMMENT ON COLUMN "public"."venta"."total" IS 'Total de la venta (agregado para integraciÔö£Ôöén con pedidos)';



COMMENT ON COLUMN "public"."venta"."metodo_pago" IS 'MÔö£┬«todo de pago: efectivo, transferencia';



COMMENT ON COLUMN "public"."venta"."cotizacion_dolar" IS 'Valor del d├│lar en pesos al momento de realizar la venta (para c├ílculos hist├│ricos)';



ALTER TABLE "public"."venta" ALTER COLUMN "id_venta" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."venta_id_venta_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE OR REPLACE VIEW "public"."ventas_con_cotizacion" WITH ("security_invoker"='on') AS
 SELECT "id_venta",
    "fecha",
    "estado",
    "baja",
    "total",
    "metodo_pago",
    "cotizacion_dolar",
    COALESCE("cotizacion_dolar", "public"."get_cotizacion_actual"()) AS "cotizacion_aplicada"
   FROM "public"."venta" "v";


ALTER VIEW "public"."ventas_con_cotizacion" OWNER TO "postgres";


COMMENT ON VIEW "public"."ventas_con_cotizacion" IS 'Vista que incluye la cotizaci├│n del d├│lar aplicada a cada venta';



CREATE OR REPLACE VIEW "public"."vista_pedidos_completos" AS
SELECT
    NULL::integer AS "id_pedido",
    NULL::timestamp without time zone AS "fecha_pedido",
    NULL::character varying(20) AS "estado",
    NULL::integer AS "id_venta",
    NULL::character varying(255) AS "cliente_nombre",
    NULL::character varying(20) AS "cliente_telefono",
    NULL::"text" AS "cliente_direccion",
    NULL::numeric(10,2) AS "total",
    NULL::character varying(20) AS "metodo_pago",
    NULL::"text" AS "notas",
    NULL::timestamp without time zone AS "created_at",
    NULL::timestamp without time zone AS "updated_at",
    NULL::bigint AS "cantidad_items",
    NULL::json AS "detalles";


ALTER VIEW "public"."vista_pedidos_completos" OWNER TO "postgres";


ALTER TABLE ONLY "public"."cotizacion_dolar" ALTER COLUMN "id_cotizacion" SET DEFAULT "nextval"('"public"."cotizacion_dolar_id_cotizacion_seq"'::"regclass");



ALTER TABLE ONLY "public"."pedido_detalle" ALTER COLUMN "id_pedido_detalle" SET DEFAULT "nextval"('"public"."pedido_detalle_id_pedido_detalle_seq"'::"regclass");



ALTER TABLE ONLY "public"."pedidos" ALTER COLUMN "id_pedido" SET DEFAULT "nextval"('"public"."pedidos_id_pedido_seq"'::"regclass");



ALTER TABLE ONLY "public"."plan_de_pago" ALTER COLUMN "id_plan" SET DEFAULT "nextval"('"public"."plan_de_pago_id_plan_seq"'::"regclass");



ALTER TABLE ONLY "public"."unidad_medida"
    ADD CONSTRAINT "Unidad de Medida_pkey" PRIMARY KEY ("id_unidad_medida");



ALTER TABLE ONLY "public"."categoria"
    ADD CONSTRAINT "categoria_pkey" PRIMARY KEY ("id_categoria");



ALTER TABLE ONLY "public"."categoria_producto"
    ADD CONSTRAINT "categoria_producto_pkey" PRIMARY KEY ("id_categoria_producto");



ALTER TABLE ONLY "public"."clientes"
    ADD CONSTRAINT "clientes_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."clientes"
    ADD CONSTRAINT "clientes_pkey" PRIMARY KEY ("id_cliente");



ALTER TABLE ONLY "public"."cotizacion_dolar"
    ADD CONSTRAINT "cotizacion_dolar_pkey" PRIMARY KEY ("id_cotizacion");



ALTER TABLE ONLY "public"."detalle_promocion"
    ADD CONSTRAINT "detalle_promocion_pkey" PRIMARY KEY ("id_detalle_promocion");



ALTER TABLE ONLY "public"."detalle_venta"
    ADD CONSTRAINT "detalle_venta_pkey" PRIMARY KEY ("id_detalle_venta");



ALTER TABLE ONLY "public"."gasto"
    ADD CONSTRAINT "gasto_pkey" PRIMARY KEY ("id_gasto");



ALTER TABLE ONLY "public"."historico_producto"
    ADD CONSTRAINT "historico_producto_pkey" PRIMARY KEY ("id_historico_producto");



ALTER TABLE ONLY "public"."pedido_detalle"
    ADD CONSTRAINT "pedido_detalle_pkey" PRIMARY KEY ("id_pedido_detalle");



ALTER TABLE ONLY "public"."pedidos"
    ADD CONSTRAINT "pedidos_pkey" PRIMARY KEY ("id_pedido");



ALTER TABLE ONLY "public"."plan_de_pago"
    ADD CONSTRAINT "plan_de_pago_pkey" PRIMARY KEY ("id_plan");



ALTER TABLE ONLY "public"."producto_imagen"
    ADD CONSTRAINT "producto_imagen_pkey" PRIMARY KEY ("id_producto_imagen");



ALTER TABLE ONLY "public"."producto"
    ADD CONSTRAINT "producto_pkey" PRIMARY KEY ("id_producto");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("user_id");



ALTER TABLE ONLY "public"."promocion"
    ADD CONSTRAINT "promocion_pkey" PRIMARY KEY ("id_promocion");



ALTER TABLE ONLY "public"."venta"
    ADD CONSTRAINT "venta_pkey" PRIMARY KEY ("id_venta");



CREATE INDEX "idx_cotizacion_dolar_fecha" ON "public"."cotizacion_dolar" USING "btree" ("fecha" DESC);



CREATE INDEX "idx_detalle_producto" ON "public"."detalle_venta" USING "btree" ("id_producto");



CREATE INDEX "idx_detalle_venta" ON "public"."detalle_venta" USING "btree" ("id_venta");



CREATE INDEX "idx_pedido_detalle_pedido" ON "public"."pedido_detalle" USING "btree" ("id_pedido");



CREATE INDEX "idx_pedidos_created_at" ON "public"."pedidos" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_pedidos_estado" ON "public"."pedidos" USING "btree" ("estado");



CREATE INDEX "idx_pedidos_fecha" ON "public"."pedidos" USING "btree" ("fecha_pedido" DESC);



CREATE INDEX "idx_pedidos_id_cliente" ON "public"."pedidos" USING "btree" ("id_cliente");



CREATE INDEX "idx_pedidos_telefono" ON "public"."pedidos" USING "btree" ("cliente_telefono");



CREATE INDEX "idx_plan_de_pago_estado" ON "public"."plan_de_pago" USING "btree" ("estado");



CREATE INDEX "idx_plan_de_pago_id_cliente" ON "public"."plan_de_pago" USING "btree" ("id_cliente");



CREATE INDEX "idx_plan_de_pago_id_venta" ON "public"."plan_de_pago" USING "btree" ("id_venta");



CREATE INDEX "idx_producto_destacado" ON "public"."producto" USING "btree" ("destacado", "orden_destacado") WHERE ("destacado" = true);



CREATE INDEX "idx_producto_imagen_id_producto" ON "public"."producto_imagen" USING "btree" ("id_producto");



CREATE INDEX "idx_producto_imagen_orden" ON "public"."producto_imagen" USING "btree" ("id_producto", "orden");



CREATE OR REPLACE VIEW "public"."vista_pedidos_completos" WITH ("security_invoker"='on') AS
 SELECT "p"."id_pedido",
    "p"."fecha_pedido",
    "p"."estado",
    "p"."id_venta",
    "p"."cliente_nombre",
    "p"."cliente_telefono",
    "p"."cliente_direccion",
    "p"."total",
    "p"."metodo_pago",
    "p"."notas",
    "p"."created_at",
    "p"."updated_at",
    "count"("pd"."id_pedido_detalle") AS "cantidad_items",
    "json_agg"("json_build_object"('id_pedido_detalle', "pd"."id_pedido_detalle", 'tipo', "pd"."tipo", 'id_producto', "pd"."id_producto", 'id_promocion', "pd"."id_promocion", 'cantidad', "pd"."cantidad", 'precio_unitario', "pd"."precio_unitario", 'subtotal', ("pd"."cantidad" * "pd"."precio_unitario")) ORDER BY "pd"."id_pedido_detalle") AS "detalles"
   FROM ("public"."pedidos" "p"
     LEFT JOIN "public"."pedido_detalle" "pd" ON (("p"."id_pedido" = "pd"."id_pedido")))
  GROUP BY "p"."id_pedido";



CREATE OR REPLACE TRIGGER "trg_auto_completar_plan" BEFORE UPDATE OF "cuotas_pagadas" ON "public"."plan_de_pago" FOR EACH ROW EXECUTE FUNCTION "public"."auto_completar_plan_de_pago"();



CREATE OR REPLACE TRIGGER "trg_clientes_updated_at" BEFORE UPDATE ON "public"."clientes" FOR EACH ROW EXECUTE FUNCTION "public"."update_clientes_updated_at"();



CREATE OR REPLACE TRIGGER "trg_descontar_stock" BEFORE INSERT ON "public"."detalle_venta" FOR EACH ROW EXECUTE FUNCTION "public"."descontar_stock"();



CREATE OR REPLACE TRIGGER "trg_pedido_cancelar_venta" BEFORE UPDATE ON "public"."pedidos" FOR EACH ROW EXECUTE FUNCTION "public"."fn_cancelar_venta_desde_pedido"();



CREATE OR REPLACE TRIGGER "trg_pedido_crear_venta" BEFORE UPDATE ON "public"."pedidos" FOR EACH ROW EXECUTE FUNCTION "public"."fn_crear_venta_desde_pedido"();



CREATE OR REPLACE TRIGGER "trg_pedidos_updated_at" BEFORE UPDATE ON "public"."pedidos" FOR EACH ROW EXECUTE FUNCTION "public"."fn_actualizar_pedido_updated_at"();



CREATE OR REPLACE TRIGGER "trg_plan_de_pago_updated_at" BEFORE UPDATE ON "public"."plan_de_pago" FOR EACH ROW EXECUTE FUNCTION "public"."update_plan_de_pago_updated_at"();



CREATE OR REPLACE TRIGGER "trg_restaurar_stock_venta" AFTER UPDATE ON "public"."venta" FOR EACH ROW EXECUTE FUNCTION "public"."restaurar_stock_venta"();



CREATE OR REPLACE TRIGGER "trigger_check_imagen_principal" BEFORE INSERT OR UPDATE OF "es_principal" ON "public"."producto_imagen" FOR EACH ROW EXECUTE FUNCTION "public"."fn_check_imagen_principal"();



CREATE OR REPLACE TRIGGER "trigger_historico_precio" AFTER UPDATE OF "precioventa" ON "public"."producto" FOR EACH ROW EXECUTE FUNCTION "public"."fn_historico_precio"();



ALTER TABLE ONLY "public"."categoria"
    ADD CONSTRAINT "categoria_id_categoria_padre_fkey" FOREIGN KEY ("id_categoria_padre") REFERENCES "public"."categoria"("id_categoria");



ALTER TABLE ONLY "public"."categoria_producto"
    ADD CONSTRAINT "categoria_producto_id_categoria_fkey" FOREIGN KEY ("id_categoria") REFERENCES "public"."categoria"("id_categoria") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."categoria_producto"
    ADD CONSTRAINT "categoria_producto_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "public"."producto"("id_producto") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."clientes"
    ADD CONSTRAINT "clientes_id_cliente_fkey" FOREIGN KEY ("id_cliente") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."detalle_promocion"
    ADD CONSTRAINT "detalle_promocion_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "public"."producto"("id_producto");



ALTER TABLE ONLY "public"."detalle_promocion"
    ADD CONSTRAINT "detalle_promocion_id_promocion_fkey" FOREIGN KEY ("id_promocion") REFERENCES "public"."promocion"("id_promocion");



ALTER TABLE ONLY "public"."detalle_venta"
    ADD CONSTRAINT "detalle_venta_id_promocion_fkey" FOREIGN KEY ("id_promocion") REFERENCES "public"."promocion"("id_promocion");



ALTER TABLE ONLY "public"."detalle_venta"
    ADD CONSTRAINT "fk_producto" FOREIGN KEY ("id_producto") REFERENCES "public"."producto"("id_producto") ON UPDATE CASCADE ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."detalle_venta"
    ADD CONSTRAINT "fk_venta" FOREIGN KEY ("id_venta") REFERENCES "public"."venta"("id_venta") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."historico_producto"
    ADD CONSTRAINT "historico_producto_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "public"."producto"("id_producto");



ALTER TABLE ONLY "public"."pedido_detalle"
    ADD CONSTRAINT "pedido_detalle_id_pedido_fkey" FOREIGN KEY ("id_pedido") REFERENCES "public"."pedidos"("id_pedido") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."pedido_detalle"
    ADD CONSTRAINT "pedido_detalle_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "public"."producto"("id_producto") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."pedido_detalle"
    ADD CONSTRAINT "pedido_detalle_id_promocion_fkey" FOREIGN KEY ("id_promocion") REFERENCES "public"."promocion"("id_promocion") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."pedidos"
    ADD CONSTRAINT "pedidos_id_cliente_fkey" FOREIGN KEY ("id_cliente") REFERENCES "public"."clientes"("id_cliente") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."pedidos"
    ADD CONSTRAINT "pedidos_id_venta_fkey" FOREIGN KEY ("id_venta") REFERENCES "public"."venta"("id_venta") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."plan_de_pago"
    ADD CONSTRAINT "plan_de_pago_id_cliente_fkey" FOREIGN KEY ("id_cliente") REFERENCES "public"."clientes"("id_cliente") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."plan_de_pago"
    ADD CONSTRAINT "plan_de_pago_id_venta_fkey" FOREIGN KEY ("id_venta") REFERENCES "public"."venta"("id_venta") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."producto_imagen"
    ADD CONSTRAINT "producto_imagen_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "public"."producto"("id_producto") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Allow user or admin to update own profile" ON "public"."profiles" FOR UPDATE TO "authenticated" USING ((("user_id" = "auth"."uid"()) OR ((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"))) WITH CHECK ((("user_id" = "auth"."uid"()) OR ((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text")));



CREATE POLICY "Authenticated can insert plans" ON "public"."plan_de_pago" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Authenticated can update plans" ON "public"."plan_de_pago" FOR UPDATE TO "authenticated" USING (true);



CREATE POLICY "Authenticated can view plans" ON "public"."plan_de_pago" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable delete for users based on user_id" ON "public"."categoria_producto" FOR DELETE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Enable delete for users based on user_id" ON "public"."detalle_promocion" FOR DELETE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Enable delete for users based on user_id" ON "public"."pedido_detalle" FOR DELETE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Enable delete for users based on user_id" ON "public"."producto_imagen" FOR DELETE USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"));



CREATE POLICY "Enable insert for admin users only" ON "public"."producto_imagen" FOR INSERT TO "authenticated" WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"));



CREATE POLICY "Enable insert for authenticated users only" ON "public"."categoria_producto" FOR INSERT TO "authenticated" WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Enable insert for authenticated users only" ON "public"."pedido_detalle" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable insert for authenticated users only" ON "public"."pedidos" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Enable insert for authenticated users only" ON "public"."profiles" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable read access for all users" ON "public"."categoria_producto" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."pedido_detalle" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."pedidos" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."producto_imagen" FOR SELECT USING (true);



CREATE POLICY "Enable read allusers for admin" ON "public"."profiles" FOR SELECT TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"));



CREATE POLICY "Enable update for authenticated users only" ON "public"."categoria_producto" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Enable users to view their own data only" ON "public"."profiles" FOR SELECT TO "authenticated" USING ((( SELECT "auth"."uid"() AS "uid") = "user_id"));



CREATE POLICY "Policy with security definer functions" ON "public"."cotizacion_dolar" TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Policy with security definer functions" ON "public"."historico_producto" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Policy with table joins" ON "public"."pedido_detalle" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Policy with table joins" ON "public"."pedidos" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "Policy with table joins" ON "public"."producto_imagen" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text")) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"));



CREATE POLICY "admin_read_all" ON "public"."clientes" FOR SELECT USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "admin_update_all" ON "public"."clientes" FOR UPDATE USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "allow_anon_insert_detalle_promociones" ON "public"."detalle_promocion" FOR INSERT TO "authenticated" WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "allow_anon_insert_detalles" ON "public"."detalle_venta" FOR INSERT TO "authenticated" WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "allow_anon_insert_productos" ON "public"."producto" FOR INSERT TO "authenticated" WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"));



CREATE POLICY "allow_anon_insert_promociones" ON "public"."promocion" FOR INSERT TO "authenticated" WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"));



CREATE POLICY "allow_anon_insert_ventas" ON "public"."venta" FOR INSERT TO "authenticated" WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "allow_anon_read_detalle_promociones" ON "public"."detalle_promocion" FOR SELECT USING (true);



CREATE POLICY "allow_anon_read_detalles" ON "public"."detalle_venta" FOR SELECT USING (true);



CREATE POLICY "allow_anon_read_productos" ON "public"."producto" FOR SELECT USING (true);



CREATE POLICY "allow_anon_read_productos" ON "public"."unidad_medida" FOR SELECT USING (true);



CREATE POLICY "allow_anon_read_promociones" ON "public"."promocion" FOR SELECT USING (true);



CREATE POLICY "allow_anon_read_ventas" ON "public"."venta" FOR SELECT USING (true);



CREATE POLICY "allow_anon_select_detalles" ON "public"."categoria" FOR SELECT USING (true);



CREATE POLICY "allow_anon_update_detalle_promociones" ON "public"."detalle_promocion" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "allow_anon_update_productos" ON "public"."producto" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text")) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"));



CREATE POLICY "allow_anon_update_promociones" ON "public"."promocion" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text")) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = 'admin'::"text"));



CREATE POLICY "allow_auth_insert_categoria" ON "public"."categoria" FOR INSERT TO "authenticated" WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "allow_auth_update_categoria" ON "public"."categoria" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "allow_auth_update_ventas" ON "public"."venta" FOR UPDATE TO "authenticated" USING (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))) WITH CHECK (((("auth"."jwt"() -> 'app_metadata'::"text") ->> 'role'::"text") = ANY (ARRAY['admin'::"text", 'empleado'::"text"])));



CREATE POLICY "allow_authenticated_insert" ON "public"."gasto" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."user_id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))))));



CREATE POLICY "allow_authenticated_select" ON "public"."gasto" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."user_id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))))));



CREATE POLICY "allow_authenticated_update" ON "public"."gasto" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."user_id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'empleado'::"text"])))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."user_id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'empleado'::"text"]))))));



ALTER TABLE "public"."categoria" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."categoria_producto" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "cliente_read_own" ON "public"."clientes" FOR SELECT USING (("auth"."uid"() = "id_cliente"));



CREATE POLICY "cliente_update_own" ON "public"."clientes" FOR UPDATE USING (("auth"."uid"() = "id_cliente"));



ALTER TABLE "public"."clientes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."cotizacion_dolar" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."detalle_promocion" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."detalle_venta" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."gasto" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."historico_producto" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."pedido_detalle" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."pedidos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."plan_de_pago" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."producto" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."producto_imagen" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."promocion" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."unidad_medida" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."venta" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."actualizar_empleado"("p_user_id" "uuid", "p_nombre" "text", "p_apellido" "text", "p_fecha_nacimiento" "date", "p_dni" "text", "p_estado" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."actualizar_empleado"("p_user_id" "uuid", "p_nombre" "text", "p_apellido" "text", "p_fecha_nacimiento" "date", "p_dni" "text", "p_estado" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."actualizar_empleado"("p_user_id" "uuid", "p_nombre" "text", "p_apellido" "text", "p_fecha_nacimiento" "date", "p_dni" "text", "p_estado" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."auto_completar_plan_de_pago"() TO "anon";
GRANT ALL ON FUNCTION "public"."auto_completar_plan_de_pago"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."auto_completar_plan_de_pago"() TO "service_role";



GRANT ALL ON FUNCTION "public"."consultar_planespago"() TO "anon";
GRANT ALL ON FUNCTION "public"."consultar_planespago"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."consultar_planespago"() TO "service_role";



GRANT ALL ON FUNCTION "public"."create_venta_transaction"("p_venta" "jsonb", "p_detalles" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."create_venta_transaction"("p_venta" "jsonb", "p_detalles" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_venta_transaction"("p_venta" "jsonb", "p_detalles" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."descontar_stock"() TO "anon";
GRANT ALL ON FUNCTION "public"."descontar_stock"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."descontar_stock"() TO "service_role";



GRANT ALL ON FUNCTION "public"."descontar_stock_por_detalle"("p_id_venta" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."descontar_stock_por_detalle"("p_id_venta" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."descontar_stock_por_detalle"("p_id_venta" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_actualizar_pedido_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."fn_actualizar_pedido_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_actualizar_pedido_updated_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_auto_cancelar_pedidos_vencidos"() TO "anon";
GRANT ALL ON FUNCTION "public"."fn_auto_cancelar_pedidos_vencidos"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_auto_cancelar_pedidos_vencidos"() TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_cancelar_venta_desde_pedido"() TO "anon";
GRANT ALL ON FUNCTION "public"."fn_cancelar_venta_desde_pedido"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_cancelar_venta_desde_pedido"() TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_check_imagen_principal"() TO "anon";
GRANT ALL ON FUNCTION "public"."fn_check_imagen_principal"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_check_imagen_principal"() TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_crear_venta_desde_pedido"() TO "anon";
GRANT ALL ON FUNCTION "public"."fn_crear_venta_desde_pedido"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_crear_venta_desde_pedido"() TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_historico_precio"() TO "anon";
GRANT ALL ON FUNCTION "public"."fn_historico_precio"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_historico_precio"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_cotizacion_actual"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_cotizacion_actual"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_cotizacion_actual"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_cliente_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_cliente_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_cliente_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."reactivar_venta_transaction"("p_id_venta" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."reactivar_venta_transaction"("p_id_venta" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."reactivar_venta_transaction"("p_id_venta" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."registrar_cotizacion_dolar"("p_valor" numeric, "p_observaciones" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."registrar_cotizacion_dolar"("p_valor" numeric, "p_observaciones" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."registrar_cotizacion_dolar"("p_valor" numeric, "p_observaciones" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."registrar_historico_precio"() TO "anon";
GRANT ALL ON FUNCTION "public"."registrar_historico_precio"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."registrar_historico_precio"() TO "service_role";



GRANT ALL ON FUNCTION "public"."restaurar_stock_venta"() TO "anon";
GRANT ALL ON FUNCTION "public"."restaurar_stock_venta"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."restaurar_stock_venta"() TO "service_role";



GRANT ALL ON FUNCTION "public"."rls_auto_enable"() TO "anon";
GRANT ALL ON FUNCTION "public"."rls_auto_enable"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."rls_auto_enable"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_clientes_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_clientes_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_clientes_updated_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_plan_de_pago_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_plan_de_pago_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_plan_de_pago_updated_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_producto_con_categorias_transaction"("p_producto" "jsonb", "p_categorias" integer[]) TO "anon";
GRANT ALL ON FUNCTION "public"."update_producto_con_categorias_transaction"("p_producto" "jsonb", "p_categorias" integer[]) TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_producto_con_categorias_transaction"("p_producto" "jsonb", "p_categorias" integer[]) TO "service_role";



GRANT ALL ON FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_changes" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_changes" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_changes" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_nombre" "text", "p_descripcion" "text", "p_stock" integer, "p_costo" numeric, "p_precioventa" numeric, "p_precio_promocion" numeric, "p_promocion_activa" boolean, "p_estado" boolean, "p_accesorio" boolean, "p_destacado" boolean, "p_orden_destacado" integer, "p_condicion" "text", "p_dolares" boolean, "p_imagenes" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_nombre" "text", "p_descripcion" "text", "p_stock" integer, "p_costo" numeric, "p_precioventa" numeric, "p_precio_promocion" numeric, "p_promocion_activa" boolean, "p_estado" boolean, "p_accesorio" boolean, "p_destacado" boolean, "p_orden_destacado" integer, "p_condicion" "text", "p_dolares" boolean, "p_imagenes" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_producto_transaction"("p_id_producto" integer, "p_nombre" "text", "p_descripcion" "text", "p_stock" integer, "p_costo" numeric, "p_precioventa" numeric, "p_precio_promocion" numeric, "p_promocion_activa" boolean, "p_estado" boolean, "p_accesorio" boolean, "p_destacado" boolean, "p_orden_destacado" integer, "p_condicion" "text", "p_dolares" boolean, "p_imagenes" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_promocion_transaction"("p_id_promocion" bigint, "p_nombre" "text", "p_precio" numeric, "p_productos" "jsonb", "p_estado" boolean) TO "anon";
GRANT ALL ON FUNCTION "public"."update_promocion_transaction"("p_id_promocion" bigint, "p_nombre" "text", "p_precio" numeric, "p_productos" "jsonb", "p_estado" boolean) TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_promocion_transaction"("p_id_promocion" bigint, "p_nombre" "text", "p_precio" numeric, "p_productos" "jsonb", "p_estado" boolean) TO "service_role";



GRANT ALL ON TABLE "public"."unidad_medida" TO "anon";
GRANT ALL ON TABLE "public"."unidad_medida" TO "authenticated";
GRANT ALL ON TABLE "public"."unidad_medida" TO "service_role";



GRANT ALL ON SEQUENCE "public"."Unidad de Medida_id_unidad_medida_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."Unidad de Medida_id_unidad_medida_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."Unidad de Medida_id_unidad_medida_seq" TO "service_role";



GRANT ALL ON TABLE "public"."categoria" TO "anon";
GRANT ALL ON TABLE "public"."categoria" TO "authenticated";
GRANT ALL ON TABLE "public"."categoria" TO "service_role";



GRANT ALL ON SEQUENCE "public"."categoria_id_categoria_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."categoria_id_categoria_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."categoria_id_categoria_seq" TO "service_role";



GRANT ALL ON TABLE "public"."categoria_producto" TO "anon";
GRANT ALL ON TABLE "public"."categoria_producto" TO "authenticated";
GRANT ALL ON TABLE "public"."categoria_producto" TO "service_role";



GRANT ALL ON SEQUENCE "public"."categoria_producto_id_categoria_producto_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."categoria_producto_id_categoria_producto_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."categoria_producto_id_categoria_producto_seq" TO "service_role";



GRANT ALL ON TABLE "public"."clientes" TO "anon";
GRANT ALL ON TABLE "public"."clientes" TO "authenticated";
GRANT ALL ON TABLE "public"."clientes" TO "service_role";



GRANT ALL ON TABLE "public"."cotizacion_dolar" TO "anon";
GRANT ALL ON TABLE "public"."cotizacion_dolar" TO "authenticated";
GRANT ALL ON TABLE "public"."cotizacion_dolar" TO "service_role";



GRANT ALL ON SEQUENCE "public"."cotizacion_dolar_id_cotizacion_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."cotizacion_dolar_id_cotizacion_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."cotizacion_dolar_id_cotizacion_seq" TO "service_role";



GRANT ALL ON TABLE "public"."detalle_promocion" TO "anon";
GRANT ALL ON TABLE "public"."detalle_promocion" TO "authenticated";
GRANT ALL ON TABLE "public"."detalle_promocion" TO "service_role";



GRANT ALL ON SEQUENCE "public"."detalle_promocion_id_detalle_promocion_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."detalle_promocion_id_detalle_promocion_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."detalle_promocion_id_detalle_promocion_seq" TO "service_role";



GRANT ALL ON TABLE "public"."detalle_venta" TO "anon";
GRANT ALL ON TABLE "public"."detalle_venta" TO "authenticated";
GRANT ALL ON TABLE "public"."detalle_venta" TO "service_role";



GRANT ALL ON SEQUENCE "public"."detalle_venta_id_detalle_venta_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."detalle_venta_id_detalle_venta_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."detalle_venta_id_detalle_venta_seq" TO "service_role";



GRANT ALL ON TABLE "public"."gasto" TO "anon";
GRANT ALL ON TABLE "public"."gasto" TO "authenticated";
GRANT ALL ON TABLE "public"."gasto" TO "service_role";



GRANT ALL ON SEQUENCE "public"."gasto_id_gasto_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."gasto_id_gasto_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."gasto_id_gasto_seq" TO "service_role";



GRANT ALL ON TABLE "public"."historico_producto" TO "anon";
GRANT ALL ON TABLE "public"."historico_producto" TO "authenticated";
GRANT ALL ON TABLE "public"."historico_producto" TO "service_role";



GRANT ALL ON SEQUENCE "public"."historico_producto_id_historico_producto_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."historico_producto_id_historico_producto_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."historico_producto_id_historico_producto_seq" TO "service_role";



GRANT ALL ON TABLE "public"."pedido_detalle" TO "anon";
GRANT ALL ON TABLE "public"."pedido_detalle" TO "authenticated";
GRANT ALL ON TABLE "public"."pedido_detalle" TO "service_role";



GRANT ALL ON SEQUENCE "public"."pedido_detalle_id_pedido_detalle_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."pedido_detalle_id_pedido_detalle_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."pedido_detalle_id_pedido_detalle_seq" TO "service_role";



GRANT ALL ON TABLE "public"."pedidos" TO "anon";
GRANT ALL ON TABLE "public"."pedidos" TO "authenticated";
GRANT ALL ON TABLE "public"."pedidos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."pedidos_id_pedido_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."pedidos_id_pedido_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."pedidos_id_pedido_seq" TO "service_role";



GRANT ALL ON TABLE "public"."plan_de_pago" TO "anon";
GRANT ALL ON TABLE "public"."plan_de_pago" TO "authenticated";
GRANT ALL ON TABLE "public"."plan_de_pago" TO "service_role";



GRANT ALL ON SEQUENCE "public"."plan_de_pago_id_plan_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."plan_de_pago_id_plan_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."plan_de_pago_id_plan_seq" TO "service_role";



GRANT ALL ON TABLE "public"."producto" TO "anon";
GRANT ALL ON TABLE "public"."producto" TO "authenticated";
GRANT ALL ON TABLE "public"."producto" TO "service_role";



GRANT ALL ON SEQUENCE "public"."producto_id_producto_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."producto_id_producto_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."producto_id_producto_seq" TO "service_role";



GRANT ALL ON TABLE "public"."producto_imagen" TO "anon";
GRANT ALL ON TABLE "public"."producto_imagen" TO "authenticated";
GRANT ALL ON TABLE "public"."producto_imagen" TO "service_role";



GRANT ALL ON SEQUENCE "public"."producto_imagen_id_producto_imagen_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."producto_imagen_id_producto_imagen_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."producto_imagen_id_producto_imagen_seq" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."promocion" TO "anon";
GRANT ALL ON TABLE "public"."promocion" TO "authenticated";
GRANT ALL ON TABLE "public"."promocion" TO "service_role";



GRANT ALL ON SEQUENCE "public"."promocion_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."promocion_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."promocion_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."venta" TO "anon";
GRANT ALL ON TABLE "public"."venta" TO "authenticated";
GRANT ALL ON TABLE "public"."venta" TO "service_role";



GRANT ALL ON SEQUENCE "public"."venta_id_venta_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."venta_id_venta_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."venta_id_venta_seq" TO "service_role";



GRANT ALL ON TABLE "public"."ventas_con_cotizacion" TO "anon";
GRANT ALL ON TABLE "public"."ventas_con_cotizacion" TO "authenticated";
GRANT ALL ON TABLE "public"."ventas_con_cotizacion" TO "service_role";



GRANT ALL ON TABLE "public"."vista_pedidos_completos" TO "anon";
GRANT ALL ON TABLE "public"."vista_pedidos_completos" TO "authenticated";
GRANT ALL ON TABLE "public"."vista_pedidos_completos" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







